# Predicting Diamond Prices
## Phase 1: Data Preparation & Visualisation

#### Group Number: Group 57

#### Name(s) & ID(s) of Group Members: 
- Eddie Ton (s3948609)
- Jabbar Baloghlan (s3890406)
- Tyler Xia (s3945694)

## Table of Contents

## Introduction

### Dataset Source

asd

### Dataset Details

asd

In [ ]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
import io
import requests

pd.set_option('display.max_columns', None) 

###
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 
%config InlineBackend.figure_format = 'retina'
plt.style.use("seaborn")
###

In [ ]:
# name of the dataset to be imported from our GitHub account
df_name = 'diamonds.csv'
df_url = 'https://raw.githubusercontent.com/Jobi060704/math_files/' + df_name
url_content = requests.get(df_url, verify=False).content
diamond_df = pd.read_csv(io.StringIO(url_content.decode('utf-8')))

## Table of Contents
* [Introduction](#itr) 
  + [Dataset Source](#Dataset-Source)
  + [Dataset Details](#Dataset-Details)
  + [Dataset Features](#Dataset-Features)
  + [Target Feature](#Target-Feature)
* [Goals and Objectives](#Goals-and-Objectives)
* [Data Cleaning and Preprocessing](#Data-Cleaning-and-Preprocessing)
* [Data Exploration and Visualisation](#Data-Exploration-and-Visualisation)
* [Summary and Conclusion](#Summary-and-Conclusion)
* [References](#References)

## Introduction <a id='itr'></a>

### Dataset source

The Diamond dataset used in study was sourced from Kaggle (Shivam Agrawal, 2021). This dataset contains various details and properties of diamonds.

### Dataset Variables

asd

In [ ]:
from tabulate import tabulate

table = [['Name','Data Type','Units','Description'],
        ]

print(tabulate(table, headers='firstrow', tablefmt='fancy_grid'))

In [14]:
# Remove all 0.0 from cuts
diamond_df['cut_Fair'] = diamond_df['cut_Fair'].replace(0.0, '')
diamond_df['cut_Good'] = diamond_df['cut_Good'].replace(0.0, '')
diamond_df['cut_Ideal'] = diamond_df['cut_Ideal'].replace(0.0, '')
diamond_df['cut_Premium'] = diamond_df['cut_Premium'].replace(0.0, '')
diamond_df['cut_Very Good'] = diamond_df['cut_Very Good'].replace(0.0, '')

# Replace 1.0 with letters
diamond_df['cut_Fair'] = diamond_df['cut_Fair'].replace(1.0, 'F')
diamond_df['cut_Good'] = diamond_df['cut_Good'].replace(1.0, 'G')
diamond_df['cut_Ideal'] = diamond_df['cut_Ideal'].replace(1.0, 'I')
diamond_df['cut_Premium'] = diamond_df['cut_Premium'].replace(1.0, 'P')
diamond_df['cut_Very Good'] = diamond_df['cut_Very Good'].replace(1.0, 'VG')

# Combine cuts into one column
diamond_df['Cut Type'] = diamond_df['cut_Fair'] + diamond_df['cut_Good'] + diamond_df['cut_Ideal'] + diamond_df['cut_Premium'] + diamond_df['cut_Very Good']

# Drop old cuts
dropped_diamond_df = diamond_df.drop(['cut_Fair', 'cut_Good', 'cut_Ideal', 'cut_Premium', 'cut_Very Good', ], axis=1)

dropped_diamond_df.sample(10, random_state=999)

,carat,depth,table,x,y,z,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_D,color_E,color_F,color_G,color_H,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2,price,Cut Type
3581,0.110187,0.525000,0.230769,0.542831,0.097963,0.112893,,I,,,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2919,I
3035,0.041580,0.552778,0.230769,0.439479,0.080306,0.093396,,,,VG,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,912,VG
2455,0.106029,0.530556,0.211538,0.533520,0.097793,0.112264,,I,,,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2365,I
3014,0.272349,0.497222,0.346154,0.681564,0.123939,0.139937,,,P,,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,11666,P
3114,0.114345,0.466667,0.326923,0.554935,0.100509,0.111635,,,P,,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1881,P
2673,0.201663,0.461111,0.365385,0.640596,0.115789,0.128302,,,,VG,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,6336,VG
767,0.216216,0.469444,0.326923,0.651769,0.118506,0.131761,,,P,,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,10388,P
2919,0.033264,0.527778,0.211538,0.426443,0.078268,0.089623,,I,,,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,587,I
3575,0.112266,0.427778,0.326923,0.561453,0.102886,0.111006,G,,,,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,4336,G
1253,0.068607,0.519444,0.250000,0.486965,0.087436,0.100629,,I,,,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1753,I