# Predicting Diamond Prices
## Phase 1: Data Preparation & Visualisation

#### Group Number: Group 57

#### Name(s) & ID(s) of Group Members: 
- Eddie Ton (s3948609)
- Jabbar Baloghlan (s3890406)
- Tyler Xia (s3945694)

## Table of Contents
* [Introduction](#itr) 
  + [Dataset Source](#Dataset-Source)
  + [Dataset Details](#Dataset-Details)
  + [Dataset Features](#Dataset-Features)
  + [Target Feature](#Target-Feature)
* [Goals and Objectives](#Goals-and-Objectives)
* [Data Cleaning and Preprocessing](#Data-Cleaning-and-Preprocessing)
* [Data Exploration and Visualisation](#Data-Exploration-and-Visualisation)
* [Summary and Conclusion](#Summary-and-Conclusion)
* [References](#References)

## Introduction

### Dataset Source

The Diamond dataset used in study was sourced from Kaggle (Shivam Agrawal, 2021). This dataset contains various details and properties of diamonds.

### Dataset Details

The dataset contains information about the carat, size, quality, colour and the price of a diamond. It also includes information on the depth to the middle, the table - which is the largest surface area on the diamond, commonly on the top as well as the width, length, and height of a diamond. 

This dataset has 10 features in total and 53941 observations. Diamonds with no price information have been removed from the dataset.

In [15]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
import io
import requests

pd.set_option('display.max_columns', None) 

###
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 
%config InlineBackend.figure_format = 'retina'
plt.style.use("seaborn")
###

In [21]:
# name of the dataset to be imported from our GitHub account
df_name = 'diamonds.csv'
df_url = 'https://raw.githubusercontent.com/Jobi060704/math_files/main/' + df_name
url_content = requests.get(df_url, verify=False).content
diamond_df = pd.read_csv(io.StringIO(url_content.decode('utf-8')))

In [24]:
new_diamond_df = diamond_df.drop(columns=diamond_df.columns[0])
new_diamond_df.sample(10, random_state=99)

       carat        cut color clarity  depth  table  price     x     y     z
42653   0.40    Premium     G      IF   60.8   58.0   1333  4.73  4.77  2.89
4069    0.31  Very Good     D     SI1   63.0   55.0    571  4.32  4.34  2.73
27580   1.60      Ideal     F     VS2   62.0   55.0  18421  7.49  7.54  4.66
33605   0.31       Good     D     SI2   63.1   54.0    462  4.33  4.38  2.75
34415   0.30      Ideal     G      IF   61.2   57.0    863  4.35  4.38  2.67
46932   0.52    Premium     G     VS1   62.4   60.0   1815  5.12  5.11  3.19
52243   0.80  Very Good     J     VS1   62.7   58.0   2487  5.91  5.95  3.72
38855   0.40      Ideal     G    VVS2   62.4   56.0   1050  4.74  4.72  2.95
38362   0.33      Ideal     D    VVS2   61.1   56.0   1021  4.46  4.44  2.72
20258   1.72      Ideal     J     SI1   62.0   57.0   8688  7.66  7.62  4.74

### Dataset Features

Our dataset has the features outlined below:

In [26]:
from tabulate import tabulate

table = [['Name','Data Type','Units','Description'],
        ['Carat','Numeric','Carat','Carats of diamond']
        ['Color','Nomical Categorical','NA','Color of diamond']
        ['Clarity','Ordinal Categorical','NA','Clarity of diamond']
        ['Depth','Numeric','Millimeters']
        ['Table','Numeric','Millimeters']
        ['Price','Numeric','USD']
        ['X','Numeric','Millimeters']
        ['Y','Numeric','Millimeters']
        ['Z','Numeric','Millimeters']]

print(tabulate(table, headers='firstrow', tablefmt='fancy_grid'))

TypeError: list indices must be integers or slices, not tuple