In [3]:
import warnings
import numpy as np
import pandas as pd
import io
import requests

pd.set_option('display.max_columns', None)
warnings.filterwarnings("ignore")

###
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 
%config InlineBackend.figure_format = 'retina'
plt.style.use("seaborn")
###

# Sample report: https://github.com/akmand/stats_tutorials/blob/main/Phase1_Report_Sample.ipynb

df1_name = 'NaN.csv'
df2_name = 'country_data.csv'
df1_url = 'https://raw.githubusercontent.com/Jobi060704/math_files/main/' + df1_name
df2_url = 'https://raw.githubusercontent.com/Jobi060704/math_files/main/' + df2_name
url1_content = requests.get(df1_url, verify=False).content
url2_content = requests.get(df2_url, verify=False).content
NaN_df = pd.read_csv(io.StringIO(url1_content.decode('utf-8')))
country_df = pd.read_csv(io.StringIO(url2_content.decode('utf-8')))

,Rank,Player Id,Player Name,Best achievements,Points,#,Games,100%,All,Badges,XP,Member since,Hours,Last update
175024,175025.0,76561200000000000.0,liverno,"['Stuff of legends (Magicka – 1.72 points)', '...",569.78,1224.0,120.0,5.0,124.0,29.0,7441.0,03-01-11,4259.4,01/17/2018 03:17:22
175025,175026.0,76561200000000000.0,Alemacbook,"['Am I Too Strong? (Lost Ark – 1.47 points)', ...",569.78,1029.0,105.0,1.0,157.0,5.0,925.0,07-07-12,1316.1,03/30/2022 22:20:28
175026,175027.0,76561200000000000.0,nuzhamar,['fischertechnik obsctacle course (Crazy Machi...,569.77,1066.0,97.0,13.0,109.0,40.0,8789.0,07/28/2019,1367.1,02/15/2022 04:22:53
175027,175028.0,76561200000000000.0,DazaiAkutawaga,['Prestigious (Gotham City Impostors: Free To ...,569.77,1030.0,107.0,10.0,122.0,8.0,23481.0,02/13/2015,1908.3,04-07-21 18:27
175028,175029.0,76561200000000000.0,ПОДПИВАС,"[""World's Finest (Injustice: Gods Among Us Ult...",569.77,807.0,47.0,13.0,78.0,18.0,3434.0,08/20/2019,342.8,12/30/2021 22:28:42